*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.cover {
    object-fit: cover !important;
  }
  
  .home_text {
    font-size: 20px;
  }
  
  .platzi_logo {
    text-decoration: none !important;
  }